<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002, Spring 2023</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 9: Module II, NoSQL, GraphDB DB Examples</span>
</center></i>

__Note:__ Modifying width of cells for wider displays.

# Lecture Material

- The lecture slides contain the lecture material, slides, etc.


- The Jupyter notebook is for running example code and sample applications.

# Environment Setup and Test

## ipython-sql Magic

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [3]:
%sql select * from db_book.student limit 10

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('00128', 'Zhang', 'Comp. Sci.', Decimal('102')),
 ('12345', 'Shankar', 'Comp. Sci.', Decimal('32')),
 ('19991', 'Brandt', 'History', Decimal('80')),
 ('23121', 'Chavez', 'Finance', Decimal('110')),
 ('44553', 'Peltier', 'Physics', Decimal('56')),
 ('45678', 'Levy', 'Physics', Decimal('46')),
 ('54321', 'Williams', 'Comp. Sci.', Decimal('54')),
 ('55739', 'Sanchez', 'Music', Decimal('38')),
 ('70557', 'Snow', 'Physics', Decimal('0')),
 ('76543', 'Brown', 'Comp. Sci.', Decimal('58'))]

## PyMySQL

In [4]:
import pymysql

__Note to DFF:__ Explain some of the concepts below:
1. Cursors and cursorclass
2. Autocommit
3. Why we get an array back

In [5]:
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [6]:
cur = conn.cursor()
res = cur.execute("select * from db_book.student limit 10")
res = cur.fetchall()

## Pandas and SQLAlchemy

In [7]:
import pandas

In [8]:
import sqlalchemy

In [9]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

In [10]:
df = pandas.read_sql("select * from db_book.student limit 10", con=engine)

In [11]:
df

      ID      name   dept_name  tot_cred
0  00128     Zhang  Comp. Sci.     102.0
1  12345   Shankar  Comp. Sci.      32.0
2  19991    Brandt     History      80.0
3  23121    Chavez     Finance     110.0
4  44553   Peltier     Physics      56.0
5  45678      Levy     Physics      46.0
6  54321  Williams  Comp. Sci.      54.0
7  55739   Sanchez       Music      38.0
8  70557      Snow     Physics       0.0
9  76543     Brown  Comp. Sci.      58.0

## MongoDB

In [36]:
import sys

sys.path.append(
    "/Users/donaldferguson/Dropbox/00Spring2023/Intro_to_Databases_S23/DONOTSHARE"
)

In [14]:
import pymongo

In [18]:
import mongo_secrets

In [19]:
mongo_client = pymongo.MongoClient(
    mongo_secrets.mongo_atlas_url
)

# Graph vs Relational

## Concepts

- Consider the ```characters``` information we loaded.

In [21]:
arya_stark = mongo_client["S23_GoT"]["Characters"].find_one({ "characterName": "Arya Stark" })

In [22]:
import json

In [24]:
print("Arya = \n", json.dumps(arya_stark, indent=2, default=str))

Arya =
 {
  "_id": "64202c597f76733d70b91de8",
  "characterName": "Arya Stark",
  "houseName": "Stark",
  "characterImageThumb": "https://images-na.ssl-images-amazon.com/images/M/MV5BMTk5MTYwNDc0OF5BMl5BanBnXkFtZTcwOTg2NDg1Nw@@._V1._SX100_SY140_.jpg",
  "characterImageFull": "https://images-na.ssl-images-amazon.com/images/M/MV5BMTk5MTYwNDc0OF5BMl5BanBnXkFtZTcwOTg2NDg1Nw@@._V1_SY1000_CR0,0,665,1000_AL_.jpg",
  "characterLink": "/character/ch0158604/",
  "actorName": "Maisie Williams",
  "actorLink": "/name/nm3586035/",
  "siblings": [
    "Robb Stark",
    "Sansa Stark",
    "Bran Stark",
    "Rickon Stark"
  ],
  "killed": [
    "Red Keep Stableboy",
    "Frey Soldier #1",
    "Polliver",
    "Rorge",
    "Ghita",
    "Meryn Trant",
    "The Waif",
    "Black Walder Rivers",
    "Lothar Frey",
    "Walder Frey",
    "Petyr Baelish",
    "The Night King",
    "White Walker",
    "Viserion"
  ],
  "parents": [
    "Eddard Stark",
    "Catelyn Stark"
  ],
  "guardedBy": [
    "Nymeria"
  ]
}

- I did some analysis and loading, which some of you will do, and produced a table.

In [25]:
%sql use s23_got_warehouse

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [27]:
%sql select * from character_relationships limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('Rhaegar Targaryen', 'abducted', 'Lyanna Stark'),
 ('Lyanna Stark', 'abductedBy', 'Rhaegar Targaryen'),
 ('Eddard Stark', 'allies', 'Howland Reed'),
 ('Eddard Stark', 'allies', 'Robert Baratheon'),
 ('Howland Reed', 'allies', 'Eddard Stark'),
 ('Jon Arryn', 'allies', 'Robert Baratheon'),
 ('Robert Baratheon', 'allies', 'Jon Arryn'),
 ('Robert Baratheon', 'allies', 'Eddard Stark'),
 ('Robert Baratheon', 'allies', 'Tywin Lannister'),
 ('Tywin Lannister', 'allies', 'Robert Baratheon'),
 ('Arya Stark', 'guardedBy', 'Nymeria'),
 ('Bran Stark', 'guardedBy', 'Summer'),
 ('Daenerys Targaryen', 'guardedBy', 'Drogon'),
 ('Daenerys Targaryen', 'guardedBy', 'Rhaegal'),
 ('Daenerys Targaryen', 'guardedBy', 'Viserion'),
 ('Eddard Stark', 'guardedBy', 'Jon Arryn'),
 ('Jon Snow', 'guardedBy', 'Eddard Stark'),
 ('Jon Snow', 'guardedBy', 'Ghost'),
 ('Rickon Stark', 'guardedBy', 'Shaggydog'),
 ('Robb Stark', 'guardedBy', 'Grey Wind')]

In [28]:
%sql select distinct relationship from character_relationships;

 * mysql+pymysql://root:***@localhost
13 rows affected.

[('abducted',),
 ('abductedBy',),
 ('allies',),
 ('guardedBy',),
 ('guardianOf',),
 ('killed',),
 ('killedBy',),
 ('marriedEngaged',),
 ('parentOf',),
 ('parents',),
 ('servedBy',),
 ('serves',),
 ('siblings',)]

<img src="./relational_relationships.jpg">

In [30]:
%%sql

with one as (
    select
        auto_id as source_character_id, relationship, source_character, target_character
    from
        characters join character_relationships on
            characters.characterName = character_relationships.source_character
        where
            characters.characterName = 'Arya Stark' and relationship='siblings'
),
    two as (
        select
            source_character_id, source_character, relationship,
                 auto_id as target_character_id, target_character
    from
        one join characters on
            characters.characterName = one.target_character
    ),
    three as (
        select
            two.source_character_id as c_id_1,
            two.source_character as c_1,
            two.relationship as r1,
            two.target_character_id as  c_id_2,
            two.target_character as c_2,
            character_relationships.relationship as r2,
            character_relationships.target_character as c3
    from
        two join character_relationships on
            two.target_character = character_relationships.source_character
        where character_relationships.relationship = 'killed'
        )
select * from three;

 * mysql+pymysql://root:***@localhost
2 rows affected.

[(30, 'Arya Stark', 'siblings', 212, 'Robb Stark', 'killed', 'Wallen'),
 (30, 'Arya Stark', 'siblings', 212, 'Robb Stark', 'killed', 'Rickard Karstark')]

- __That is going to get real old, real fast.__

## py2neo

In [38]:
import neo4j_secrets

In [41]:
neo4j_secrets.aura_url

'neo4j+s://aae9f847.databases.neo4j.io'

In [45]:
import py2neo
dir(py2neo)

['AND',
 'Address',
 'And',
 'CONTAINS',
 'ClientError',
 'ConnectionBroken',
 'ConnectionLimit',
 'ConnectionProfile',
 'ConnectionUnavailable',
 'Connective',
 'Contains',
 'DEFAULT_BOLT_PORT',
 'DEFAULT_HOST',
 'DEFAULT_HTTPS_PORT',
 'DEFAULT_HTTP_PORT',
 'DEFAULT_PASSWORD',
 'DEFAULT_PROTOCOL',
 'DEFAULT_SECURE',
 'DEFAULT_USER',
 'DEFAULT_VERIFY',
 'DatabaseError',
 'ENDS_WITH',
 'EQ',
 'EQUAL_TO',
 'EitherOr',
 'EndsWith',
 'Entity',
 'EqualTo',
 'GE',
 'GREATER_THAN',
 'GREATER_THAN_OR_EQUAL_TO',
 'GT',
 'Graph',
 'GraphService',
 'GreaterThan',
 'GreaterThanOrEqualTo',
 'IN',
 'IS_NOT_NULL',
 'IS_NULL',
 'In',
 'IsNotNull',
 'IsNull',
 'LE',
 'LESS_THAN',
 'LESS_THAN_OR_EQUAL_TO',
 'LIKE',
 'LT',
 'LessThan',
 'LessThanOrEqualTo',
 'Like',
 'Mapping',
 'NE',
 'NEO4J_AUTH',
 'NEO4J_SECURE',
 'NEO4J_URI',
 'NEO4J_VERIFY',
 'NOT_EQUAL_TO',
 'Neo4jError',
 'Node',
 'NodeMatch',
 'NodeMatcher',
 'NotEqualTo',
 'OR',
 'Or',
 'Path',
 'Predicate',
 'Predicate1',
 'ProtocolError',
 'Relationship',
 'RelationshipMatch',
 'RelationshipMatcher',
 'STARTS_WITH',
 'Schema',
 'ServiceProfile',
 'ServiceUnavailable',
 'StartsWith',
 'Subgraph',
 'SystemGraph',
 'Transaction',
 'TransientError',
 'UniquenessError',
 'Walkable',
 'WriteServiceUnavailable',
 'XOR',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__copyright__',
 '__doc__',
 '__email__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'absolute_import',
 'addressing',
 'client',
 'compat',
 'cypher',
 'data',
 'database',
 'errors',
 'get_metadata',
 'getenv',
 'matching',
 'meta',
 'metadata',
 'print_function',
 'string_types',
 'timing',
 'urlsplit',
 'walk',
 'wiring']

In [42]:
from py2neo import Graph

aura_url = neo4j_secrets.aura_url
aura_user = neo4j_secrets.aura_user
aura_pw = neo4j_secrets.aura_pw


def t1():
    graph = Graph(aura_url, auth=(aura_user, aura_pw))
    q = "match (r:Person) where r.name='Tom Hanks' return r"
    res = graph.run(q)

    for r in res:
        print(r)

In [43]:
t1()

Node('Person', born=1956, name='Tom Hanks')

- You will notice that in this case, we got back a Python class ```Node.```


- ```py2neo``` implements a python class abstraction on top of the lower layers APIs and language.